__pycache__/
.env
*.pyc
.DS_Store
*.xlsx
*.csv
.qodo
reddit_scrape_cleaned_20250429_163943.csv
reddit_scrape_cleaned_20250429_184723.csv
"distribution of number of comments.png"
"distribution of upvotes.png"
"Post Per Subreddit.png"
data
checklists
.reddit-scraper